{% extends 'base.html' %}

{% block content %}
	{% for post in posts %}
		<div class="post">
			<div class="date">
	    		{{ post.published_date }}
	        </div>
	        <h1><a href="{% url 'blog.views.post_detail' slug=post.slug %}">{{ post.title }}</a></h1>
		    <p>{{ post.text|safe|linebreaks|truncatechars:400 }}</p>
		</div>
	{% endfor %}

	<nav>
        <ul class="pager">
            {% if posts.has_previous %}
            <li><a href="?{{ page_request_var }}={{ posts.previous_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">Previous</a></li>
            {% endif %}
            
            <li>Page {{ posts.number }} of {{ posts.paginator.num_pages }}.</li>
            
            {% if posts.has_next %}
            <li><a href="?{{ page_request_var }}={{ posts.next_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">Next</a></li>
            {% endif %}
            
        </ul>
    </nav>

{% endblock %}